@model Lab_1.Models.Match

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Match</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamOne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamOne.TeamName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamOneScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamOneScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamTwo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamTwo.TeamName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamTwoScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamTwoScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Arena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Arena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatchDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatchDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
