@using Lab_1.Models
@model List<Lab_1.Models.RoleViewModel>
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>Manage User Roles for @ViewBag.Email</h2>
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model[i].Id">
                    <input type="hidden" asp-for="@Model[i].Name">
                    <input asp-for="@Model[i].IsActive" class="form-check-input">
                    <label class="form-check-label" asp-for="@Model[i].IsActive"> @Model[i].Name </label>
                </div>
            }
        </div>
        <div class="card-footer">
            <input type="submit" value="Update" class="btn btn-primary">
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

